@import url(../base.css);

section.top {
    height: 64px;
    background-color: #2d2d31;
    display: flex;
    align-items: center;
    padding: 0 30px;
    color: white;
}
section.mid {
    height: calc(100vh - 64px - 90px);
    display: flex;
}
section.bottom {
    height: 90px;
    background-color: #2d2d31;
    display: flex;
}

div.channel-selector {
    width: 240px;
    height: 100%;
    background-color: #2d2d31;
    padding: 10px 6px;
    overflow-y: auto;
    overflow-x: hidden;
}
div.channel-entry {
    border-radius: 5px;
    margin: 2px;
    height: 1.65em;
    padding: 0 6px;
    display: flex;
    align-items: center;
    opacity: 0.7;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
div.channel-entry:hover {
    opacity: 1;
}
div.channel-selector div.selected {
    background-color: #6f6d74;
}
div.content {
    width: calc(100% - 240px);
    background-color: #1a1a1a;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
}
div.content > :first-child {
    margin-top: auto !important;
}
textarea.message-field {
    resize: none;
    margin-left: 240px;
    background-color: #1a1a1a;
    border: 2px dotted lightblue;
    width: calc(100% - 240px);
    outline: none;
    color: white;
    padding: 2px;
}
button.send-message {
    background-color: #1a1a1a;
    margin-left: 2px;
    width: 100px;
    border: 2px dotted lightseagreen;
    color: white;
    padding: 2px;
}
button.send-message:hover {
    background-color: #292929;
    cursor: pointer;
}
div.message {
    padding: 10px;
    color: whitesmoke;
    height: fit-content;
    display: table-cell;
    vertical-align: bottom;
}
div.message:hover {
    background-color: rgb(32, 32, 32);
}
div.message div.inner {
    width: 80%;
    display: flex;
    flex-direction: column;
}
div.message div.inner p.message-content {
    opacity: 0.6;
}
div.sep {
    width: 100%;
    height: 1px;
    background-color: rgb(48, 48, 48);
}