{% include 'layouts/base.html' %}

{% block content %}
    <form action="/account/register" method="POST">
        {{ form.csrf_token }}
        <h3>Register</h3>
        {{ form.username.label }}
        {{ form.username }}
        <br>
        {{ form.password.label }}
        {{ form.password }}
        <br>
        {{ form.password_confirmation.label }}
        {{ form.password_confirmation }}
        <br>
        {{ form.submit }}
        <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">
        <a href="/account/login">Log in</a>
    </form>
{% endblock %}
