*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    color: #D6D6D6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html, body {
    height: 100%;
    overflow-y: hidden;
}