<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/chatroom/modal.css" rel="stylesheet">
    <link href="/static/chatroom/styles.css" rel="stylesheet">
    <link href="/static/chatroom/header.css" rel="stylesheet">
    <link href="/static/chatroom/main.css" rel="stylesheet">

    <link href="/static/fontawesome-5.15.4/css/all.css" rel="stylesheet">
    <link href="/static/chatroom/microtip.css" rel="stylesheet">

    <script src="/static/fontawesome-5.15.4/js/all.min.js"></script>
    <script src="/static/chatrooms/socket.io.min.js"></script>
    <script src="/static/chatroom/micromodal.min.js"></script>
    <script src="/static/chatroom/main.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="overlay">
        <span>Oh, just loading something important...</span>
    </div>

    <div class="header">
        <div class="inner">
            <span class="channel-name">#channel-name</span>
            <hr>
            <span class="channel-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi asperiores vel doloribus quae rem dolorum maiores inventore, enim illum neque, quis ipsam corrupti pariatur quo illo? Veniam dolore minus aut.</span>
            <a href="/logout" id="sign-out" aria-label="Log out" data-microtip-position="left" role="tooltip"><i class="fas fa-sign-out-alt"></i></a>
        </div>
    </div>

    <div class="modal" id="modal-channel-creation" aria-hidden="true">
        <div class="overlay" tabindex="-1" data-micromodal-close>
            <div class="container" aria-modal="true" aria-labelledby="modal-1-title">
                <div class="close-button">
                    <i class="fas fa-times" data-micromodal-close></i>
                </div>
                <header>
                    <h2>Create channel</h2>
                    <div class="line"></div>
                </header>
                <div class="modal-content">
                    <label for="channel-name">Channel name</label>
                    <br>
                    <div class="fakeinput">
                        <div class="icon"><i class="fas fa-hashtag"></i></div>
                        <input type="text" name="channel-name">
                    </div>
                    <br>
                    <label for="channel-description">Channel description</label>
                    <br>
                    <input type="text" name="channel-description">
                    <br><br>
                </div>
                <footer>
                    <input type="button" value="Submit" name="create-channel" id="create-channel">
                </footer>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-user-edit" aria-hidden="true">
        <div class="overlay" tabindex="-1" data-micromodal-close>
            <div class="container" aria-modal="true" aria-labelledby="modal-1-title">
                <div class="close-button"><i class="fas fa-times" data-micromodal-close></i></div>
                <header>
                    <h2>Edit user</h2>
                    <div class="line"></div>
                </header>
                <div class="modal-content">
                    <label for="avatar-url">Avatar URL from the Discord CDN</label>
                    <br>
                    <input type="text" name="avatar-url">
                    <br>
                    <label for="user-name">User name</label>
                    <br>
                    <input type="text" name="user-name">

                    <br><br>
                </div>
                <footer>
                    <input type="button" value="Submit" name="create-channel" id="create-channel">
                </footer>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="inner">
            <div class="channels">
                <div class="create-channel">
                    <div class="create-channel-inner" id="create-channel-button" aria-label="Create a new text channel" data-microtip-position="right" role="tooltip">
                        <i class="fas fa-plus-circle"></i>
                        <span>Create channel</span>
                    </div>
                </div>
                <div class="channels-inner" id="place-channels-there">

                    <!-- {#<div class="textchannel" id="textchannel-id-1" onmouseenter="channelHover(1, true);" onmouseleave="channelHover(1, false);">
                        <i class="fas fa-hashtag"></i>
                        <span id="textchannel-name-id-1">channel-name</span>
                        <span class="channel-deletion" aria-label="Delete" data-microtip-position="left" role="tooltip">
                            <i class="fas fa-trash-alt to-right channel-del" id="textchannel-delete-id-1"></i>
                        </span>
                    </div>
                    <div class="textchannel" id="textchannel-id-2" onmouseenter="channelHover(2, true);" onmouseleave="channelHover(2, false);">
                        <i class="fas fa-hashtag"></i>
                        <span>channel-name</span>
                        <span class="channel-deletion" aria-label="Delete" data-microtip-position="left" role="tooltip">
                            <i class="fas fa-trash-alt to-right channel-del" id="textchannel-delete-id-2"></i>
                        </span>
                    </div>
                    <div class="textchannel selected" id="textchannel-id-3"  onmouseenter="channelHover(3, true);" onmouseleave="channelHover(3, false);">
                        <i class="fas fa-hashtag"></i>
                        <span>channel-name</span>
                        <span class="channel-deletion" aria-label="Delete" data-microtip-position="left" role="tooltip">
                            <i class="fas fa-trash-alt to-right channel-del" id="textchannel-delete-id-3"></i>
                        </span>
                    </div>#} -->

                </div>
                <div class="bio">
                    <div class="bio-inner">
                        <span id="username">Starrysparklez</span>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="message-container" id="place-messages-there">

                    <!-- {#<div class="message" id="message-container-id-1" onmouseenter="makeButtonsVisible(1, true)" onmouseleave="makeButtonsVisible(1, false)">
                        <div class="buttons" id="message-buttons-container-id-1">
                            <div class="button" id="message-delete-button-id-1" aria-label="Delete message" data-microtip-position="top" role="tooltip">
                                <i class="fas fa-trash-alt"></i>
                            </div>
                            <div class="button" id="message-edit-button-id-1" aria-label="Edit message" data-microtip-position="top-left" role="tooltip">
                                <i class="fas fa-edit"></i>
                            </div>
                        </div>
                        <div class="avatar" style="background-image: url(https://cdn.discordapp.com/avatars/556437901509001216/cb9f4b0b95a10b449c4225d20a890fee.png?size=48);"></div>
                        <div class="main-part">
                            <span class="username" id="message-username-id-1">Starrysparklez</span>
                            <br>
                            <span class="message-content" id="message-content-id-1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro reiciendis veniam cumque eaque voluptatem quos incidunt, repellat expedita necessitatibus repudiandae laboriosam. Cumque voluptatum labore, ab ad enim consectetur saepe harum.</span>
                        </div>
                    </div>

                    <div class="message" id="message-container-id-2" onmouseenter="makeButtonsVisible(2, true)" onmouseleave="makeButtonsVisible(2, false)">
                        <div class="buttons" id="message-buttons-container-id-2">
                            <div class="button" id="message-delete-button-id-2">
                                <i class="fas fa-trash-alt"></i>
                            </div>
                            <div class="button" id="message-edit-button-id-2">
                                <i class="fas fa-edit"></i>
                            </div>
                        </div>
                        <div class="avatar" style="background-image: url(https://cdn.discordapp.com/avatars/556437901509001216/cb9f4b0b95a10b449c4225d20a890fee.png?size=48);"></div>
                        <div class="main-part">
                            <span class="username" id="message-username-id-2">не Starrysparklez</span>
                            <br>
                            <span class="message-content" id="message-content-id-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro reiciendis veniam cumque eaque voluptatem quos incidunt, repellat expedita necessitatibus repudiandae laboriosam. Cumque voluptatum labore, ab ad enim consectetur saepe harum.</span>
                        </div>
                    </div>

                    <div class="message" id="message-container-id-3" onmouseenter="makeButtonsVisible(3, true)" onmouseleave="makeButtonsVisible(3, false)">
                        <div class="buttons" id="message-buttons-container-id-3">
                            <div class="button" id="message-delete-button-id-3" aria-label="Delete message" data-microtip-position="top" role="tooltip">
                                <i class="fas fa-trash-alt"></i>
                            </div>
                            <div class="button" id="message-edit-button-id-3" aria-label="Edit message" data-microtip-position="top-left" role="tooltip">
                                <i class="fas fa-edit"></i>
                            </div>
                        </div>
                        <div class="avatar" style="background-image: url(https://cdn.discordapp.com/avatars/556437901509001216/cb9f4b0b95a10b449c4225d20a890fee.png?size=48);"></div>
                        <div class="main-part">
                            <span class="username" id="message-username-id-3">Starrysparklez</span>
                            <br>
                            <span class="message-content" id="message-content-id-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro reiciendis veniam cumque eaque voluptatem quos incidunt, repellat expedita necessitatibus repudiandae laboriosam. Cumque voluptatum labore, ab ad enim consectetur saepe harum.</span>
                        </div>
                    </div>#} -->

                </div>
                <div class="message-write-box">
                    <textarea id="message-area" placeholder="Write your awesome message..."></textarea>
                    <div class="send-button-container" aria-label="Send message" data-microtip-position="top" role="tooltip" onclick="sendMessage()">
                        <i class="fas fa-paper-plane"></i>
                    </div>
                </div>
            </div>

            <div class="members">
                <div class="members-inner">

                    <div class="online-member" id="member-id-1">
                        <div class="avatar" style="background-image: url(https://cdn.discordapp.com/avatars/556437901509001216/cb9f4b0b95a10b449c4225d20a890fee.png?size=40);"></div>
                        <div class="username" id="member-id-username-1">
                            <span>Starrysparklez</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>