{% include 'layouts/base.html' %}

{% block custom_meta_data %}
    <link href="/static/chatrooms/styles.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <section class="top">
        <div>
            <h3 id="channel-name"></h3>
            <p><b>Your nickname:</b> <i>{{ current_user.username }}</i></p>
            <a href="/account/logout">Log out</a>
        </div>
    </section>
    <section class="mid">
        <div class="channel-selector">
            <a onclick="createChannel()" class="channel-entry"><div class="channel-entry">[+] Создать канал</div></a>
            <div id="channel-list"></div>
        </div>
        <div class="content" id="messages-field">
            <!-- {# <div class="message">
                <div class="inner">
                    <div class="nickname"><p>Starrysparklez</p><div class="sep"></div></div>
                    <p class="message-content">
                        ПРИВЕТ МИР !!!!!!!!!!!!!!!
                    </p>
                </div>
            </div> #} -->
        </div>
    </section>
    <section class="bottom">
        <textarea class="message-field" id="textarea"></textarea>
        <button class="send-message" onclick="sendMessage()">Send</button>
    </section>
    <script src="/static/chatrooms/socket.io.min.js"></script>
    <script type="text/javascript" src="/static/chatrooms/main.js"></script>
{% endblock %}
